<h1>Pizza Pizza :D</h1>


{{#each model as |pizza|}}
  <div class="pizza">
    <h2>### {{pizza.title}} ###</h2>
    <img src="{{pizza.image}}">
    <p>
      <strong>Toppings:</strong> <br> {{pizza.toppings}}
    </p>
    <p>
      <strong>Preis:</strong>  <br> {{pizza.price}}
    </p>
    <p>
      <strong>Größe:</strong>  <br> {{pizza.size}}
    </p>
  </div>
{{/each}}
