<div class="pizza-style">
  <h2>### {{pizza.title}} ###</h2>
  <img src="{{pizza.image}}">
  <p>
    <strong>Toppings:</strong> <br> {{pizza.toppings}}
  </p>
  <p>
    <strong>Preis:</strong>  <br> {{pizza.price}}
  </p>
  <p>
    <strong>Größe:</strong>  <br> {{pizza.size}}
  </p>
</div>